#!/bin/bash

# What and how to back up
SOURCEDIR=/
BACKUP_ENCRYPTION_KEY="XXXXXXXXX"
EXCLUDE=(/tmp /proc /selinux /sys /remote /root/.cache/duplicity\*)
duplicity()
{
	AA=()
	for DIR in "${EXCLUDE[@]}"; do AA+=("--exclude" "$DIR"); done
	duplicity-ex "$@" "${AA[@]}"
}

# Where to back up to
DESTHOST=archive@moya.dev.lsstcorp.org
DESTDIR=dev.lsstcorp.org
SSHKEY="/etc/cya/keys/id_rsa"

###############################################
# don't touch anything below this line,      ##
# unless you *really* know what you're doing ##
###############################################

. /opt/cya/lib/backup.sh
backup
