#!/bin/bash
#
# Copy to /etc/cya/, modify as needed, and run daily as root.
#
# It will cya-collect for every subdirectory in a given directory (by
# default, ~archive).
#

(
	flock 200

	find ~archive/* -maxdepth 0 -type d -exec /opt/cya/bin/cya-collect "{}" \;

) 200>/var/run/cya-run
